CREATE DATABASE proyecto_academico;
GO
USE proyecto_academico;
GO

USE [proyecto_academico]
GO
/****** Object:  Table [dbo].[Cuatrimestre]    Script Date: 23/10/2025 19:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuatrimestre](
	[IdCuatrimestre] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cuatrimestre] PRIMARY KEY CLUSTERED 
(
	[IdCuatrimestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 23/10/2025 19:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[IdCuatrimestre] [int] NOT NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docente]    Script Date: 23/10/2025 19:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docente](
	[IdDocente] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](200) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Docente] PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 23/10/2025 19:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[IdEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellidos] [varchar](200) NULL,
	[Identificacion] [varchar](20) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Provincia] [varchar](100) NULL,
	[Canton] [varchar](100) NULL,
	[Distrito] [varchar](100) NULL,
	[Correo] [varchar](50) NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluacion]    Script Date: 23/10/2025 19:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluacion](
	[IdEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
	[Nota] [decimal](5, 2) NOT NULL,
	[Observaciones] [varchar](300) NOT NULL,
	[Participacion] [varchar](50) NOT NULL,
	[Estado] [varchar](20) NULL,
 CONSTRAINT [PK_Evaluacion] PRIMARY KEY CLUSTERED 
(
	[IdEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuatrimestre] ON 

INSERT [dbo].[Cuatrimestre] ([IdCuatrimestre], [Nombre]) VALUES (1, N'I Cuatrimestre 2025')
INSERT [dbo].[Cuatrimestre] ([IdCuatrimestre], [Nombre]) VALUES (2, N'II Cuatrimestre 2025')
INSERT [dbo].[Cuatrimestre] ([IdCuatrimestre], [Nombre]) VALUES (3, N'I Cuatrimestre 2024')
SET IDENTITY_INSERT [dbo].[Cuatrimestre] OFF
GO
SET IDENTITY_INSERT [dbo].[Curso] ON 

INSERT [dbo].[Curso] ([IdCurso], [Nombre], [IdCuatrimestre]) VALUES (1, N'Programación Web', 1)
INSERT [dbo].[Curso] ([IdCurso], [Nombre], [IdCuatrimestre]) VALUES (2, N'Programación Avanzada en Web', 1)
INSERT [dbo].[Curso] ([IdCurso], [Nombre], [IdCuatrimestre]) VALUES (3, N'Análisis de Datos', 2)
SET IDENTITY_INSERT [dbo].[Curso] OFF
GO
SET IDENTITY_INSERT [dbo].[Docente] ON 

INSERT [dbo].[Docente] ([IdDocente], [Usuario], [Contrasena], [Nombre], [Correo]) VALUES (1, N'admin', N'admin', N'Administrador', N'admin@mail.com')
INSERT [dbo].[Docente] ([IdDocente], [Usuario], [Contrasena], [Nombre], [Correo]) VALUES (2, N'jlopez', N'jlopez', N'Jorge Andres Lopez', N'jlopez@mail.com')
INSERT [dbo].[Docente] ([IdDocente], [Usuario], [Contrasena], [Nombre], [Correo]) VALUES (3, N'aquinones', N'aquinones', N'Adriana Quiñones Garita', N'aquinones@mail.com')
SET IDENTITY_INSERT [dbo].[Docente] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

INSERT [dbo].[Estudiante] ([IdEstudiante], [Nombre], [Apellidos], [Identificacion], [FechaNacimiento], [Provincia], [Canton], [Distrito], [Correo]) VALUES (1, N'JOSE LUIS ', N'MIRANDA GARCIA', N'401950892', CAST(N'1987-08-08' AS Date), N'Heredia', N'San Rafael', N'San Rafael', N'jluism08@gmail.com')
INSERT [dbo].[Estudiante] ([IdEstudiante], [Nombre], [Apellidos], [Identificacion], [FechaNacimiento], [Provincia], [Canton], [Distrito], [Correo]) VALUES (2, N'GUSTAVO', N'MONTERO', N'113000305', CAST(N'1986-12-03' AS Date), N'Heredia', N'Barva', N'Barva', N'tavo@mail.com')
INSERT [dbo].[Estudiante] ([IdEstudiante], [Nombre], [Apellidos], [Identificacion], [FechaNacimiento], [Provincia], [Canton], [Distrito], [Correo]) VALUES (3, N'JOSE ALEJANDRO', N'PICADO', N'401450265', CAST(N'1987-02-02' AS Date), N'Heredia', N'Heredia', N'San Francisco', N'picado@mail.com')
SET IDENTITY_INSERT [dbo].[Estudiante] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluacion] ON 

INSERT [dbo].[Evaluacion] ([IdEvaluacion], [IdEstudiante], [IdCurso], [Nota], [Observaciones], [Participacion], [Estado]) VALUES (1, 1, 3, CAST(80.00 AS Decimal(5, 2)), N'Bien', N'80', N'Aprobado')
INSERT [dbo].[Evaluacion] ([IdEvaluacion], [IdEstudiante], [IdCurso], [Nota], [Observaciones], [Participacion], [Estado]) VALUES (2, 1, 6, CAST(90.00 AS Decimal(5, 2)), N'Muy bien', N'80', N'Aprobado')
INSERT [dbo].[Evaluacion] ([IdEvaluacion], [IdEstudiante], [IdCurso], [Nota], [Observaciones], [Participacion], [Estado]) VALUES (3, 1, 5, CAST(65.00 AS Decimal(5, 2)), N'Repetir', N'60', N'Reprobado')
SET IDENTITY_INSERT [dbo].[Evaluacion] OFF
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Cuatrimestre] FOREIGN KEY([IdCuatrimestre])
REFERENCES [dbo].[Cuatrimestre] ([IdCuatrimestre])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Cuatrimestre]
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_Curso]
GO
ALTER TABLE [dbo].[Evaluacion]  WITH CHECK ADD  CONSTRAINT [FK_Evaluacion_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Evaluacion] CHECK CONSTRAINT [FK_Evaluacion_Estudiante]
GO
